{% extends 'pizzeria/base.html' %}

{% block title %}Pizzeria | Confirmar Orden{% endblock %}

{% block content %}
<div class="container section content">
  <h3>Nombre: {{ first_name }} {{ last_name }}</h3>
  {% for pizza in pizzas %}
    <p>Tamaño: {{ pizza.size.name }}, costo: {{ pizza.size.price }}</p>
    {% if pizza.toppings %}
      <ul>
      {% for topping in pizza.toppings %}
        <li>{{ topping.name }} - {{topping.amount}}, costo: {{topping.total}}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
  <h3>Total de la orden: {{ total }}</h3>
  <h4>Esta información es correcta?</h4>
  <a href="{% url 'pizzeria:finalize_order' %}" class="button is-info">SI</a>&nbsp;<a href="{% url 'pizzeria:place_order' %}" class="button is-danger">NO</a>
</div>
{% endblock %}